<?xml version="1.0"?>
<config>
	<modules>
		<Ambimax_DisableProductComparison>
			<version>1.1.0</version>
		</Ambimax_DisableProductComparison>
	</modules>
	<global>
		<helpers>
			<ambimax_disableproductcomparison>
				<class>Ambimax_DisableProductComparison_Helper</class>
			</ambimax_disableproductcomparison>
			<catalog>
				<rewrite>
					<product_compare>Ambimax_DisableProductComparison_Helper_Product_Compare</product_compare>
				</rewrite>
			</catalog>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ambimax_disableproductcomparison translate="title" module="ambimax_disableproductcomparison">
											<title>TSDesigns DisableProductComparison</title>
											<sort_order>50</sort_order>
										</ambimax_disableproductcomparison>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<Ambimax_DisableProductComparison>
					<files>
						<default>Ambimax_DisableProductComparison.csv</default>
					</files>
				</Ambimax_DisableProductComparison>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<ambimax_disableproductcomparison>
					<file>ambimax/disableproductcomparison.xml</file>
				</ambimax_disableproductcomparison>
			</updates>
		</layout>
	</frontend>	
	<default>
		<catalog>
			<frontend>
				<enable_product_comparison>1</enable_product_comparison>
			</frontend>
		</catalog>
	</default>
</config>